body{
    background-color: #f2f3f7; 
}
.bg-1 { 
    background-color: #0000006b; 
 }

 .bg-2 { 
    background-color: #62b2ca71; 
 }
 .bg-3 { 
    background-color: #f2f3f7; 
    color: #000000;  
    
 }
.bg-4 {
    /* The image used */
    background-image: url("../img/bgimage1.jpg");
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .container-fluid {
    padding-top: 30px;
    padding-bottom: 50px;
    
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 5px;
}
.logostyle{
    font-family: "Arial Black", Gadget, sans-serif;
    
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: overline solid rgb(68, 68, 68);
  
    text-transform: none;  
}
.tablestyle{
    padding: 3px 3px 3px 3px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.logodiv_style{
    margin-top: 140px;
    margin-bottom: 30px;
}
.tablestyle-contacts{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;

}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
.designmodal{
    width: 350px;
}
.col-sm-12{
    margin-bottom: 20px; 
}
.textstyle{
    font-size: 25px;
}
/* table */